# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv" 
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

In [2]:
df_1 = pd.read_csv(url)
df_2 = pd.read_csv(url2)
df_3 = pd.read_csv(url3)

In [29]:
df_1.rename(columns={"ST":"State"}, inplace=True)
df_2.rename(columns={"ST":"State"}, inplace=True)

In [31]:
df_1.columns = df_1.columns.str.lower()
df_2.columns = df_2.columns.str.lower()
df_3.columns = df_3.columns.str.lower()

In [33]:
df_1.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [35]:
df_2.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')

In [37]:
df_3.columns

Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

In [45]:
pd_c = pd.concat([df_1, df_2, df_3])

In [86]:
pd_c.shape

(12074, 11)

In [88]:
pd_c.dropna(subset=["customer", "gender"],inplace=True)

In [112]:
pd_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9015 entries, 1 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9015 non-null   object
 1   state                      9015 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9015 non-null   object
 4   customer lifetime value    9010 non-null   object
 5   income                     9015 non-null   float64
 6   monthly premium auto       9015 non-null   float64
 7   number of open complaints  9015 non-null   object
 8   policy type                9015 non-null   object
 9   vehicle class              9015 non-null   object
 10  total claim amount         9015 non-null   float64
dtypes: float64(3), object(8)
memory usage: 845.2+ KB

In [ ]:
pd_c.fillna

In [140]:
pd_c["customer lifetime value"] = pd.to_numeric(pd_c["customer lifetime value"], errors="coerce")

In [156]:
pd_c["customer lifetime value"] = pd_c["customer lifetime value"].fillna(pd_c["customer lifetime value"].mean())

In [164]:
pd_c[pd_c.isna().any(axis=1)]

Empty DataFrame
Columns: [customer, state, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [170]:
pd_c.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
dtype: int64

In [182]:
pd_c["education"] = pd_c["education"].replace("Bachelors", "Bachelor")

In [192]:
pd_c["vehicle class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Sports Car', 'Luxury Car',
       'Luxury SUV'], dtype=object)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [25]:
import pandas as pd

In [27]:
# Your code goes here
customer = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [31]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [117]:
customer["revenue"] = customer["months_since_policy_inception"]*customer["monthly_premium_auto"]

In [119]:
customer["revenue"]

0         3172
1         1664
2         3100
3          291
4         3627
         ...
10905    10120
10906     4420
10907    12663
10908     4266
10909      101
Name: revenue, Length: 10910, dtype: int64

In [144]:
customer_pivot = pd.pivot_table(data=customer,index="sales_channel", values=["revenue","total_claim_amount"], aggfunc=sum)

/var/folders/z2/8yvwb6_51rd1bxl1j1s0xpm40000gp/T/ipykernel_3231/985259271.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  customer_pivot = pd.pivot_table(data=customer,index="sales_channel", values=["revenue","total_claim_amount"], aggfunc=sum)

In [148]:
customer_pivot.applymap(lambda x:format(x,".2f"))

/var/folders/z2/8yvwb6_51rd1bxl1j1s0xpm40000gp/T/ipykernel_3231/1936769690.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  customer_pivot.applymap(lambda x:format(x,".2f"))

                   revenue total_claim_amount
sales_channel
Agent          18534081.00         1810226.82
Branch         13711669.00         1301204.00
Call Center     9376066.00          926600.82
Web             7475544.00          706600.04

In [125]:
customer_pivot2 = pd.pivot_table(data=customer,index="sales_channel", values=["total_claim_amount"], aggfunc=sum)

/var/folders/z2/8yvwb6_51rd1bxl1j1s0xpm40000gp/T/ipykernel_3231/2059020259.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  customer_pivot2 = pd.pivot_table(data=customer,index="sales_channel", values=["total_claim_amount"], aggfunc=sum)

In [140]:
customer_pivot2.applymap(lambda x:format(x,".2f"))

/var/folders/z2/8yvwb6_51rd1bxl1j1s0xpm40000gp/T/ipykernel_3231/2096712714.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  customer_pivot2.applymap(lambda x:format(x,".2f"))

              total_claim_amount
sales_channel
Agent                 1810226.82
Branch                1301204.00
Call Center            926600.82
Web                    706600.04

In [156]:
customer.groupby("sales_channel")[["revenue","total_claim_amount"]].sum()

                revenue  total_claim_amount
sales_channel
Agent          18534081        1.810227e+06
Branch         13711669        1.301204e+06
Call Center     9376066        9.266008e+05
Web             7475544        7.066000e+05

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here